/答辩
/打印件_新
/电子票
/附件
/纸质材料/*
!/纸质材料/《医疗电动转移床结构设计与控制实现》定稿.pdf
/《医疗电动转移床结构设计与控制实现 》初稿.docx
/翻译译文.docx
/翻译原文.pdf
/结题答辩.pptx
/开题报告_02015433史章昆.docx
/开题报告_02015433史章昆.pdf
/吴院报销申请.pdf
/自动化学院2019届毕业论文模板最终版.docx
/开题答辩.pptx
/嵌入式程序/Electric_transfer_bed_V1.0
/图纸
/CAD
/Electric_transfer_bed_V1.0
/嵌入式程序/Electric_transfer_bed/Objects/*
/PCB/电源转接板/*
!/PCB/电源转接板/PowerBord.PrjPCB
!/PCB/电源转接板/PowerBord.SchDoc
!/PCB/电源转接板/PowerBord.pdf
/PCB/键盘/*
!/PCB/键盘/keyboard.pdf
!/PCB/键盘/keyboard.PrjPCB
!/PCB/键盘/keyboard.SchDoc
/PCB/主板/*
!/PCB/主板/mainBord_old.PcbDoc
!/PCB/主板/mainBord_old.SchDoc
!/PCB/主板/mainBord_real.PcbDoc
!/PCB/主板/mainBord_real.SchDoc
!/PCB/主板/mainBord_real.zip
!/PCB/主板/mainBord_1.3.rar
!/PCB/主板/mainBord_1.2.rar
!/PCB/主板/mainBord_1.1.rar
